.center{
    margin-top: 50px;
    text-align: left;
    width:860px;
    /*margin-left: 120px;*/
    font-size: 35px;

}
h1
{
    color: #0c7b93;
    display: inline;
}

h3{
    color: #043b5d;
    display: inline;
}
.content  {
    display: inline-block;
    text-align: center;
    list-style: none;
    font-size: 30px;
    margin-left: 70px
}

.form-group-row .btn-secondary{
    margin-top: 17px;
}

.form-group-row {
    float: right;
    padding-top: 10px;
    width:500px;
}

.sticky{
    background: none;
}