#sidebar-wrapper {
    position: fixed;
    width: 100px;
    height: 100%;
    top: 0;
    left: 0;
    background: #142850;

}

.sidebar-nav {
    padding: 0px;
    list-style: none
}

.sidebar-nav li {
    text-indents: 60px;
    line-height: 22px;
    text-decoration: none;
    font-size: 22px;
    font-family: Calibri;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #ddd;
    padding: 10px
}

p {
    line-height: 2px;
}

.sidebar-nav logOut a {
    position: absolute;
    text-align: center;
    text-decoration: none;
    bottom: 25px;
    color: #ddd;
    font-size: 20px;
    font-family: Calibri;
    padding-left: 4px;
}

h3{
    color: blue;
}

container {
  padding: 2rem 0;
}

.modal-header .close {
  margin-top: -1.5rem;
}

.modal-footer {
  margin-bottom: 1.5rem;
}
.form-title {
  margin: -2rem 0 2rem;
}

.btn-round {
  border-radius: 3rem;
}

.delimiter {
  padding: 1rem;
}

.signup-section {
  padding: 0.3rem 0;
}