#sidebar-wrapper {
    position: fixed;
    width: 100px;
    height: 100%;
    top: 0;
    left: 0;
    background: #142850;

}

.sidebar-nav {
    padding: 0px;
    list-style: none
}

.sidebar-nav li {
    text-indents: 60px;
    line-height: 22px;
    text-decoration: none;
    font-size: 22px;
    font-family: Calibri;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #ddd;
    padding: 10px
}

p {
    line-height: 2px;
}

.sidebar-nav logOut a {
    position: absolute;
    text-align: center;
    text-decoration: none;
    bottom: 25px;
    color: #ddd;
    font-size: 20px;
    font-family: Calibri;
    padding-left: 4px;
}