{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block header %}
    <h1>About</h1>
    <hr style="width:100%;text-align:left;margin-left:0px; margin-top:0px">
    <form class="form-group-row" method="post">
        {% csrf_token %}
    </form>
{% endblock %}


{% block middle_section %}
    <div class="align-content-sm-center">
        <div class="content">
            {% load static %} <p style="text-align:center; margin-top: 75px"><img src="{% static "Media/poolLanes.jpg" %}" alt="Pool Lanes" height="350" width="700" class="image"/></p>

            <div class="center">
                <p style="font-size:75%">Our goal was to solve the problem of crowded swim times at the UWM Klotsche
                    Center. To solve this problem, we created a software that schedules open swim times so that they do
                    not overlap with each other. By creating a user interface that allows users to and sign up for swim
                    times manually, this software makes it easier for students to attend open swim time. As well as a
                    user interface, this software has an administrative interface that allows staff to manage the dates
                    and times so that overcrowding is prevented.</p>
            </div>
        </div>
    </div>
{% endblock %}