<!DOCTYPE html>
<html lang="en">
<head>
    <title>base</title>
    <meta charset="UTF-8">
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" type="text/css"/>
    {% block styles %}

    {% endblock %}
</head>


<body>

<div class="wrapper">


    <!-- Sidebar -->
    <nav id="sidebar">
        {% include 'navbar.html' %}
    </nav>

    <!-- Page Content -->
    <div id="content">
        < <! --- display main middle -->
        {% block middle_section %}

        {% endblock %}
    </div>
</div>
</body>
</html>