{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/editProfile.css' %}">
{% endblock %}

{% block header %}
    <h1 id="userName">{{ user.username }}</h1>
    <form class="form-group-row" method="post">
        {% csrf_token %}
    </form>
{% endblock %}


{% block middle_section %}
    <form method="post">
    {% csrf_token %}
    <div class="center">
        <div align="center">
            <div class="content">
                <table class="table1" cellspacing="50">
                    <tr>
                        <td>
                            <h3>Name:</h3>
                            <input name="name" class="form-control" type="text"
                                   value="{{ user.username}}">
                        </td>
                    <tr>
                        <td>
                            <h3>Email:</h3>
                            <input type="email" name="email" class="form-control" value="{{ user.email }}">
                        </td>
                    <tr>
                        <td>
                            <h3>Password:</h3>
                            <input type="password" name="password" class="form-control" value="{{ user.password }}">
                        </td>
                    </tr>
                </table>
                </table>


            </div>
            <br>
            <div style="align-content: flex-end">
                <button class="btn btn-warning" type="submit" name="update_account"
                        value={{ user.username }}>Update
                </button>
            </div>

        </div>
    </div>

    {#    <script>#}
    {#    document.onload = loadInfo();#}
    {#    function loadInfo() {#}
    {#        console.log("PageStart");#}
    {#        const userName = document.getElementById("userName");#}
    {#        const fname = document.getElementById("fname");#}
    {#        const lname = document.getElementById("lname");#}
    {#        const email = document.getElementById("email");#}
    {#        const pass1 = document.getElementById("password1");#}
    {#        const pass2 = document.getElementById("password2");#}
    {##}
    {#        userName.innerHTML = "TheDon5"#}
    {#        email.value = "{{ user.email }}"#}
    {#        fname.value = "{{ user.name }}"#}
    {#        lname.value = "Donahoe"#}
    {#        pass1.value = "password"#}
    {#        pass2.value = "password"#}
    {#    }#}
    {#</script>#}

{% endblock %}
