{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block header %}
    {% load static %} <p style="text-align:center;"><img src="{% static "Media/pooley.jpg" %}" alt="pooley Logo" height="175" width="425" class="image"/></p>
    <form class="form-group-row" method="post">
        {% csrf_token %}
    </form>
{% endblock %}


{% block middle_section %}
    <div class="center">
        <div class="content">
            <ul>
                {% load static %} <p style="text-align:center;margin-top: -75px"><img src="{% static "Media/poolHome.jpg" %}" alt="Pool Lanes" height="350" width="700" class="image"/></p>
            </ul>
        </div>
    </div>
{% endblock %}


