{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block header %}
    <h1>Account</h1>
    <form class="form-group-row" method="post">
        {% csrf_token %}
        <button class="btn btn-secondary" type="submit" name="edit_account"
                value={{ user.username }}>Edit Info
        </button>
    </form>
{% endblock %}


{% block middle_section %}
    <div class="center">
        <div class="content">
            <ul>

            </ul>
        </div>
    </div>
{% endblock %}


