{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/pools.css' %}">
{% endblock %}

{% block header %}
    <h1>Pools</h1>
    <form class="form-group-row" method="post">
        {% csrf_token %}
    </form>
{% endblock %}


{% block middle_section %}
    <div class="center">
        <div class="content">
            <ul>
            <div class="row">
                <div class="column">
                     {% load static %} <img src="{% static "Media/1Lane.jpg" %}" alt="Pool" usemap="#workmap" height="500 "width="125" class="image" />
                </div>
                <div class="column">
                    {% load static %} <img src="{% static "Media/1Lane.jpg" %}" alt="Pool" usemap="#workmap" height="500 "width="125" class="image" />
                </div>
                <div class="column">
                    {% load static %} <img src="{% static "Media/1Lane.jpg" %}" alt="Pool" usemap="#workmap" height="500 "width="125" class="image" />
                </div>
                <div class="column">
                  {% load static %} <img src="{% static "Media/1Lane.jpg" %}" alt="Pool" usemap="#workmap" height="500 "width="125" class="image" />
                </div>
                <div class="column">
                {% load static %} <img src="{% static "Media/1Lane.jpg" %}" alt="Pool" usemap="#workmap" height="500 "width="125" class="image" />
                </div>
                <div class="column">
                {% load static %} <img src="{% static "Media/1Lane.jpg" %}" alt="Pool" usemap="#workmap" height="500 "width="125" class="image" />
                </div>
                <div class="column">
                    <div class="container">
                        {% load static %} <img src="{% static "Media/1Lane.jpg" %}" alt="Pool" usemap="#workmap" height="500 "width="125" class="image" />
                            <a href="">
                            <div class="middle">
                                <div class="text">Reserve Lane</div>
                            </div>
                            </a>
                    </div>
                </div>
                <div class="column">
                    {% load static %} <img src="{% static "Media/1Lane.jpg" %}" alt="Pool" height="500 "width="125" class="image" />
                </div>
            </div>
            </ul>
        </div>
    </div>
{% endblock %}