{% extends 'base.html' %}
{% load static %}
{% block styles %}
            <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
            <!-- jQuery -->
            <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
            <!-- Popper JS -->
            <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
            <!-- Bootstrap JS -->
            <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
            <link rel="stylesheet" type="text/css" href="{% static 'css/pools.css' %}?version=2">
{% endblock %}

{% block header %}
    <h1>Pools</h1>
    <hr style="width:100%;text-align:left;margin-left:0px; margin-top:0px">
    <form class="form-group-row" method="post">
        {% csrf_token %}
    </form>
{% endblock %}


{% block middle_section %}
    <div class="center">
        <div class="content">
            <table><tr>
                <ul>
                    <label>Pick a Date and Time: </label>
                    <input id="calender" class="dateSelector" type="date" onchange="updateDate(this.value)">
                    <select class="dateSelector" name="cars" id="time">
                        <option value="">Undefined</option>
                        <option value="1:00 pm" onclick="updateTime(value)">1:00 pm</option>
                        <option value="2:00 pm" onclick="updateTime(value)">2:00 pm</option>
                        <option value="3:00 pm" onclick="updateTime(value)">3:00 pm</option>
                        <option value="4:00 pm" onclick="updateTime(value)">4:00 pm</option>
                    </select>
                </ul>
                </tr>
                </table>
                <div class="center" id="poolStart"></div>
            </ul>
<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FChicago&showTitle=0&src=cG9vbGxhbmVzY2hlZHVsZXJAZ21haWwuY29t&color=%23039BE5" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>

<!--Reserve Pop up Modal -->
     <div class="modal fade" id="reserveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-title text-center">
                            <h4>Reserve A Lane</h4>
                        </div>
                        <div class="d-flex flex-column text-center">
                            <form>
                                <div class="form-group">
                                    <input type="text" id="textInput" value="">
                                <label for="fullName"></label><input type="range" min="15" max="60" step="15" name="rangeInput" class="form-control" id="fullName"
                                                                       placeholder="Your Full Name..." onchange="updateTextInput(this.value);">
                                </div>
                                {% csrf_token %}
                                <button class="btn btn-primary" type="submit">Reserve</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--Add buttons to initiate auth sequence and sign out-->
    <button id="authorize_button" style="display: none;">Authorize</button>
    <button id="signout_button" style="display: none;">Sign Out</button>

    <pre id="content" style="white-space: pre-wrap;"></pre>

    <script type="text/javascript">
      // Client ID and API key from the Developer Console
      var CLIENT_ID = '284055104109-nros80cnu0llgmmovk609svg198dl9n6.apps.googleusercontent.com';
      var API_KEY = 'AIzaSyAuaGMY4OXXpSfKf3Q4Kr_ud_YaAfyeMng';

      // Array of API discovery doc URLs for APIs used by the quickstart
      var DISCOVERY_DOCS = ["https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest"];

      // Authorization scopes required by the API; multiple scopes can be
      // included, separated by spaces.
      var SCOPES = "https://www.googleapis.com/auth/calendar";

      var authorizeButton = document.getElementById('authorize_button');
      var signoutButton = document.getElementById('signout_button');

      /**
       *  On load, called to load the auth2 library and API client library.
       */
      function handleClientLoad() {
        gapi.load('client:auth2', initClient);
      }

      /**
       *  Initializes the API client library and sets up sign-in state
       *  listeners.
       */
      function initClient() {
        gapi.client.init({
          apiKey: API_KEY,
          clientId: CLIENT_ID,
          discoveryDocs: DISCOVERY_DOCS,
          scope: SCOPES
        }).then(function () {
          // Listen for sign-in state changes.
          gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);

          // Handle the initial sign-in state.
          updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
          authorizeButton.onclick = handleAuthClick;
          signoutButton.onclick = handleSignoutClick;
        }, function(error) {
          appendPre(JSON.stringify(error, null, 2));
        });
      }

      /**
       *  Called when the signed in status changes, to update the UI
       *  appropriately. After a sign-in, the API is called.
       */
      function updateSigninStatus(isSignedIn) {
        if (isSignedIn) {
          authorizeButton.style.display = 'none';
          //signoutButton.style.display = 'block';
          //createNewEvent();
        } else {
          authorizeButton.style.display = 'block';
          signoutButton.style.display = 'none';
        }
      }

      /**
       *  Sign in the user upon button click.
       */
      function handleAuthClick(event) {
        gapi.auth2.getAuthInstance().signIn();
      }

      /**
       *  Sign out the user upon button click.
       */
      function handleSignoutClick(event) {
        gapi.auth2.getAuthInstance().signOut();
      }

      /**
       * Append a pre element to the body containing the given message
       * as its text node. Used to display the results of the API call.
       *
       * @param {string} message Text to be placed in pre element.
       */
      function appendPre(message) {
        var pre = document.getElementById('content');
        var textContent = document.createTextNode(message + '\n');
        pre.appendChild(textContent);
      }

      /**
       * Print the summary and start datetime/date of the next ten events in
       * the authorized user's calendar. If no events are found an
       * appropriate message is printed.
       */
      function createNewEvent(name, lane) {

          const date = document.getElementById('calender').value;
          //console.log("updateDate2: " + date);
          //const time = document.getElementById('value').value;
          //console.log("time: " + time);

          var event = {
  'summary': name,
  'location': 'Lane ' + lane,
  'description': name + ' has reserved lane ' + lane + ' for 30 minutes',
  'start': {
    'dateTime': date + 'T18:00:00-07:00',
    'timeZone': 'America/Chicago'
  },
  'end': {
    'dateTime': date + 'T18:30:00-07:00',
    'timeZone': 'America/Chicago'
  },
};

var request = gapi.client.calendar.events.insert({
  'calendarId': 'primary',
  'resource': event
});

request.execute(function(event) {
  appendPre('Event created!');
});
      }


    </script>

    <script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>

<label for="username">Username:</label><br>
  <input type="text" id="username" name="username"><br>

    <label for="lane">Lane:</label><br>
  <input type="lane" id="lane" name="lane"><br>

<input id="submitButton" type="button" value="Reserve" onclick="createNewEvent(document.getElementById('username').value , document.getElementById('lane').value)" />

<script>
document.onload = pageStart();
function pageStart(){
    console.log("PageStart");
    createPool(8,[false,false,false,true,true,true,false,true]);
}
function updateTextInput(val) {
          document.getElementById('textInput').value=val;
}
function updateTime(val){
    //should refresh pool
    console.log("updateTime: " + val);
}
function updateDate(val){
    const time = document.getElementById('time');
    //should refresh time selector
    console.log("updateDate: " + val);

    //clear time options
    time.options.length = 0;
    //need to create loop but this adds a selection of 7:00pm to the selector
    time.insertAdjacentHTML('beforeend', '<option value="7:00 pm" onclick="updateTime(value)">7:00 pm</option>')
}
function createPool(numLanes, taken){
    //takes in int of lanes and an array of bool that shows if the lane is taken or not
    const pool = document.getElementById("poolStart");
    for(let i = 0; i < numLanes; i++){
        if(taken[i] == false) {
            //console.log("Open")
            pool.insertAdjacentHTML('beforeend',
                '<div class="column">' +
                    '<div class= "container">' +
                        '{% load static %} <img src="{% static "Media/1Lane.jpg" %}" alt="Pool" usemap="#workmap" height="500" width="125" class="image" />' +
                        '<a href data-toggle="modal" data-target="#reserveModal">' +
                            '<div class="middle\">' +
                                '<div class="text">Reserve Lane</div>' +
                           ' </div>' +
                            '</a>' +
                    '</div>' +
                '</div>');
        }
        else {
            console.log("Taken")
            pool.insertAdjacentHTML('beforeend',
                            '<div class="column">' +
                    '<div class="container">' +
                            '{% load static %} <img src="{% static "Media/takenLane.jpg" %}" alt="Pool" usemap="#workmap" height="500 "width="125" class="image" />' +
                            '<div class="middle">'+
                               ' <div class="textReserved">Lane Taken</div>'+
                           ' </div>'+
                    '</div>' +
                '</div>');
        }

    }
}
</script>
{% endblock %}